*.ini
*.ini
**/.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/The-Price-for-Peace/v15/.suo
*.DS_Store
